{:paths ["dev" "notebooks"]
 :deps  {org.clojure/clojure           {:mvn/version "1.11.1"}
         io.github.nextjournal/clerk   {:git/sha "d80187013d7b7b96db3d8b114b8d99f687170668"}
         org.mentat/clerk-utils        {:mvn/version "0.6.0"}
         org.mentat/emmy               {:mvn/version "0.31.0"}
         org.mentat/emmy-viewers       {:mvn/version "0.3.1"}
         io.github.inferenceql/gen.clj
         {:git/sha "b6d5a7e5c4e5841ed676c53b61a616ab57660f44"}}
 :aliases {:nextjournal/clerk {:exec-fn user/build!}}}
